<a href="https://colab.research.google.com/github/eXIA008/tubes-dka/blob/main/heart_disease_with_fuzzy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libary

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

# Load Dataset

In [16]:
from google.colab import files
uploaded = files.upload()

Saving dataset_heart_disease.csv to dataset_heart_disease (1).csv

# Baca Dataset
Dataset yang digunakan adalah dataset Heart Disease yang merupakan kumpulan data historis mengenai keberadaan penyakit jantung pada pasien. Terdiri dari empat basis data: Cleveland, Hungaria, Swiss, dan Long Beach V.

In [17]:
ds = pd.read_csv('/content/dataset_heart_disease.csv')
print(f"Jumlah data atau nilai yang missing: {ds.isnull().sum()}")
ds.head(20)

Jumlah data atau nilai yang missing: age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
17,54,1,0,124,266,0,0,109,1,2.2,1,1,3,0
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1

# Melihat deskripsi dan informasi dataset

In [18]:
print(ds.info())
ds.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB
None

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

# Menghapus kolom yang tidak diperlukan
Pada dataset ini terdapat 14 kolom, namun kolom yang digunakan untuk mengevaluasi kinerja fuzzy hanya 3 kolom saja yaitu, kolom age, trestbps, dan chol saja.

In [19]:
ds.columns = [col.split(' ', 1)[-1] for col in ds.columns]

ds = ds.drop(columns=['sex', 'cp','fbs','restecg','thal'])

ds.tail(10)

      age  trestbps  chol  thalach  exang  oldpeak  slope  ca  target
1015   58       128   216      131      1      2.2      1   3       0
1016   65       138   282      174      0      1.4      1   1       0
1017   53       123   282       95      1      2.0      1   2       0
1018   41       110   172      158      0      0.0      2   0       0
1019   47       112   204      143      0      0.1      2   0       1
1020   59       140   221      164      1      0.0      2   0       1
1021   60       125   258      141      1      2.8      1   1       0
1022   47       110   275      118      1      1.0      1   1       0
1023   50       110   254      159      0      0.0      2   0       1
1024   54       120   188      113      0      1.4      1   1       0

In [ ]:
kategori_usia = pd.qcut(ds['age'], q=3, labels=['Muda', 'Sedang', 'Lansia'])
ds['kategori_usia'] = kategori_usia

ds.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,kategori_usia
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,Sedang
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,Sedang
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,Lansia
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,Lansia
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,Lansia
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1,Sedang
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0,Sedang
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0,Sedang
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0,Muda
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0,Sedang